.block-menu{
    position: absolute;
    right: 250px;
    z-index: 5;
}

.nav-menu{
    width: 100%;
    top: 15px;
}

.ul-list {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

.ul-list > li {
    cursor: pointer;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.block-light{
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
}

