.form-container {
    margin-top: 130px;
    background-color: #f5f5f5; /* Цвет фона формы */
    border-radius: 30px;
    box-shadow: 0 15px 15px 15px rgba(206, 204, 204, 0.35);
    width: 100%;
    max-width: 400px; /* Максимальная ширина формы */
    padding: 40px;
}

.form-input {
    background-color: #eee; /* Цвет фона инпутов */
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px; /* Размер шрифта инпутов */
    border-radius: 8px;
    width: 100%;
    outline: none;
    transition: background-color 0.3s ease; /* Плавный переход для цвета фона */
}

.form-input:hover {
    background-color: #ddd; /* Цвет фона инпутов при наведении */
}

.form-button {
    background-color: #8b00ff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    padding: 15px 0;
    font-size: 16px; /* Размер шрифта кнопки */
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease; /* Плавный переход для цвета фона */
}

.form-button:hover {
    background-color: #5e005e; /* Цвет фона кнопки при наведении */
}
