.block-chat{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.chat-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    width: 100%;
    position: relative;
}

.chat-position {
    position: absolute;
    bottom: 50px;
    width: 80%;
}

.block-left {
    width: 15%;
    display: flex;
    align-items: center;
}


.icon-bar{
    margin: auto 0;
    font-size: 30px;
}

