.block-chat {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.block-left,
.block-right {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.chat-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.chat {
    display: flex;
    justify-content: center;
    width: 80%;
    position: relative;
}

.chat-position {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.icon-bar {
    margin: auto 0;
    font-size: 20px;
    cursor: pointer;
}

/* RightBar.css */
.block-right-bar {
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.block-right-bar.visible {
    width: 15%;
}

.block-right-bar-content {
    overflow-y: auto;
    height: 100%;
}

.block-navbar {
    background-color: #f0f0f0;
    padding: 20px;
}

.block-navbar p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.block-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-navbar li {
    font-size: 16px;
    margin-bottom: 10px;
}

.hide-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hide-button:hover {
    background-color: #6a5acd;
}

.block-right-bar-content::-webkit-scrollbar {
    width: 8px;
}

.block-right-bar-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.block-right-bar-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
