.right-bar-container {
    display: flex;
}

.block-right-bar {
    background: #cbc8db;
    height: 100vh;
    overflow: hidden;
    animation-duration: 0.5s;
    animation-name: slideInR;
    transition: 0.5s;
    width: 250px;
}

.hiddenR {
    right: 0; /* Сдвигаем обратно вправо на экран */
}

.block-navbar {
    /* padding: 20px;
    border-bottom: 1px solid #ccc; */
}

.block-navbar p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-icon-container {
    display: flex;
    justify-content: flex-start; /* Выравнивание по левому краю */
    align-items: center; /* Центрирование элементов по вертикали */
    margin-bottom: 100px; /* Добавление отступа снизу */
}

.content-navbar-right {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    padding: 40px;
    margin: 0;
}

.content-navbar-right li {
    padding: 10px 0;
    cursor: pointer;
    margin-left: 10px; /* Добавляем расстояние между элементами */
}

.content-navbar-right a {
    color: #333;
}

@keyframes slideInR {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

@keyframes slideOutR {
    from {
        width: 250px;
    }
    to {
        width: 0;
    }
}
