.block-right-bar {
    background: #cbc8db;
    height: 100vh;
    overflow: hidden;
    animation-duration: 0.5s;
    animation-name: slideInR;
    transition: 0.5s;
    width: 15%;
}

.hiddenR {
    width: 0;
    transition: 0.5s;
    animation-duration: 0.5s;
    animation-name: slideOutR;
}

.content-navbar-right li {
    cursor: pointer;
}

.content-navbar-right li:hover{
    background: #aeabbb85;
}

@keyframes slideInR {
    from {
        width: 0;
    }
    to {
        width: 15%;
    }
}

@keyframes slideOutR {
    from {
        width: 15%;
    }
    to {
        width: 0;
    }
}