.block-right-bar{
    width: 100%;
}

.openR{
    width: 100%;
    animation-duration: 1s;
    animation-name: slideInRight;
}
.closeR {
    animation-name: slideOutRight;
    animation-direction: reverse;
}

@keyframes hideRightBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slideInRight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slideOutRight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}