.block-left-bar {
    /* width: 100%; */
    width: 250px;
    background: #cbc8db;
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation-duration: 0.5s;
    animation-name: slideIn;
}

.hidden {
    width: 0;
    animation-duration: 0.5s;
    animation-name: slideOut;
}

.block-navbar{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.block-navbar::-webkit-scrollbar {
    width: 6px;
}
.block-navbar::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 5px;
}
.block-navbar::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 5px;
}


.block-navbar > p {
    font-size: 24px;
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: 600;
}

.block-btn-add{
    display: flex;
    justify-content: center;
    width: 100%;
}

.block-btn-add button{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: none;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 18px;
}

.block-btn-add span{
    font-size: 20px;
}

.block-navbar ul {
    text-align: center;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.block-navbar ul > li {
    margin: 2px 0;
    padding: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        /* width: 100%; */
        width: 250px;
    }
}

@keyframes slideOut {
    from {
        /* width: 100%; */
        width: 250px;
    }
    to {
        width: 0;
    }
}
