.block-left-bar {
    width: 100%;
}

.open{
    width: 100%;
    animation-duration: 1s;
    animation-name: slideIn;
}
.close {
    animation-name: slideOut;
}

.block-navbar {
    background: #cbc8db;
    height: 100vh;
    display: block;
}

.block-navbar > p {
    font-size: 24px;
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: 600;
}

.block-navbar ul {
    text-align: center;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.block-navbar ul > li {
    margin: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

/* @keyframes hideLeftBar {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */


@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slideOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}