.block-left-bar {
    position: fixed;
    top: 0;
    left: 0; /* Изменено справа на слева */
    width: 250px; /* Изменено с 100% на фиксированную ширину */
    height: 100%;
    background-color: #f0f0f0; /* Изменен цвет фона */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Изменен с отрицательного сдвига на положительный */
    transition: transform 0.3s ease;
}

.hiddenL {
    visibility: hidden; /* Изменен класс скрытия */
}

.hide-icon {
    text-align: right; /* Изменено с left на right */
    padding: 10px; /* Добавлен отступ */
}

.icon-bar {
    cursor: pointer;
    font-size: 24px;
}

.block-navbar > p {
    font-size: 24px;
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: 600;
}

.block-navbar button{
    cursor: pointer;
}

.block-navbar ul {
    text-align: center;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.block-navbar ul > li {
    margin: 2px 0;
    padding: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

.create-btn {
    margin-top: 50px;
    width: 90%;
    border: solid 10px blue;
    border-radius: 10px;
}

.create-btn input {
    width: 100%;
    border-radius: 10px;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 300px; /* Изменено с 100% на фиксированную ширину */
    }
}

@keyframes slideOut {
    from {
        width: 300px; /* Изменено с 100% на фиксированную ширину */
    }
    to {
        width: 0;
    }
}
