.menu-container {
    height: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}


.menu-trigger img {
    position: absolute;
    top: 20px;
    right: 100px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}


.menu-container:hover {
    border-radius: 10px;
    background-color: #aeabbb85;
}

.active-logo-profile {
    position: absolute;
    bottom: 550px;
    right: 300px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    padding: 10px 10px;
    width: 242px;
    height: 451px;
}

.dropdown-menu-profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Добавим transform в transition */
}

.dropdown-menu-profile-image:hover {
    background-color: #ff5733;
    transform: scale(1.1); /* Увеличим размер на 10% при наведении */
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;    
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 2s ease; /* Пример значения */
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease; /* Пример значения */
}


.dropdown-menu-h3 {
    color: #333;
    display: flex;
    justify-content: center;
}

.dropdown-menu .dropdown-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dropdown-menu .dropdown-list li {
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.dropdown-menu .dropdown-list li a {
    color: #333;
    cursor: pointer;
    border-radius: 20px;
}


